@import '../settings.scss';

.section {
	overflow: scroll;
}

.table {
	border: 3px solid $color-black;
	border-radius: 8px;
	background: $color-tea;
	border-spacing: 0;
	border-collapse: separate;
	width: 900px;
	overflow: hidden;
}

.row + .row .cell{
	border-top: 1px solid $color-black;
}

.cell {
	width: 75px;
	height: 75px;
}

.cell + .cell {
	border-left: 1px solid $color-black;
}

$fields: (
	'grass',
	'wheat',
	'poultry',
	'cow'
);

@mixin field($field, $i) {
	$a: url('~/public/images/fields/#{$field}#{$i}-a.webp') no-repeat center/cover;
	$b: url('~/public/images/fields/#{$field}#{$i}-b.webp') no-repeat center/cover;

	@keyframes anime-#{$field}-#{$i} {
		0% { background: $a; }
		49% { background: $a; }
		50% { background: $b; }
		100% { background: $b; }
	}

	.#{$field}-#{$i} {
		background: $a;
		animation: anime-#{$field}-#{$i} 1s infinite alternate;
	}
}

@mixin fields($field) {
	@for $i from 1 through 3 {
		@include field($field, $i);
	}
}

@each $field in $fields {
	@include fields($field);
}

