@import '../settings.scss';
@import '../mxin.scss';

.table {
	border: 3px solid $color-black;
	border-radius: 8px;
	background: $color-tea;
	border-spacing: 0;
	border-collapse: separate;
	overflow: hidden;
}

.row + .row .cell{
	border-top: 1px solid $color-black;
}

.cell {
	@each $item in $items {
		&.cursor-#{$item} {
			cursor: url('~/public/images/cursors/#{$item}.svg'), auto;
		}
	}

	&.is-disabled, &.num0 {
		cursor: not-allowed;
	}

	.imageBox{
		width: 75px;
		height: 75px;
		@include animate2Img;
	}
}

.cell + .cell {
	border-left: 1px solid $color-black;
}