@import '../settings.scss';
@import '../mxin.scss';
@import '../common/item.scss';

.nav {
	position: relative;
	z-index: 2;

	&::before {
		position: absolute;
		content: '';
		top: 96px;
		left: 28px;
		width: 50px;
		height: 37px;
		clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
		background: $color-black;
		z-index: 1;
	}
}

.house {
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
	background: url('~/public/images/house.webp') no-repeat center/contain;

	&:hover {
		cursor: pointer;
		width: 106px;
		height: 106px;
		margin: -3px;
	}
	&:active {
		width: 100px;
		height: 100px;
		margin: 0;
	}
}

@mixin balloon {
	position: absolute;
	top: 130px;
	left: -5px;
	border: $color-black 3px solid;
	border-radius: 8px;
	background: $color-white;
	padding: 5px;
	width: 110px;
	height: 480px;
	@include overflowScroll;
}

.balloon {
	@include balloon;
}

.balloonLarge {
	@include balloon;
	width: 92vw;;
	max-width: 1000px;
}

.balloonSmall {
	@include balloon;
	height: 100px;
}

.balloonRestaurant {
	@include balloon;
	width: 280px;
}

.balloonGrocer {
	@include balloon;
	width: 410px;
}

.items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	padding: 5px 0;

	.radio {
		display: none;
		width: 0;
		height: 0;
		margin:0;
	}
}

.logBalloon {
	border: 1px solid $color-black;
	border-radius: 8px;
	background: $color-white;
	width: 100px;
	height: 360px;
	margin-top: 150px;
	@include overflowScroll;
}

.logs {
	padding: 5px;
}

@each $logType, $color in $logTypes {
	.log#{$logType} {
		font-size: 10px;
		color: $color-black;
		margin-top: 6px;
		font-family: $font-en;

		&::before {
			content: '#{$logType}';
			background: $color;
			color: $color-white;
			font-weight: 600;
			display: inline-block;
			padding: 2px 3px;
			border-radius: 2px;
			margin-right: 3px;
			text-align: center;
			min-width: 30px;
		}
	}
}

.money {
	margin: 10px 0;
	width: 100px;
	text-align: right;
	word-break: break-all;
	position: relative;
	padding-left: 20px;
	font-size: 16px;
	font-weight: 600;
	font-family: $font-en;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 20px;
		height: 20px;
		background: url('~/public/images/icons/money.svg') no-repeat center/contain;
	}
}

.score {
	width: 100px;
	height: 100px;
	border: $color-black 3px solid;
	border-radius: 50%;
	background: $color-white;
	padding: 16px;
}

.level {
	font-size: 12px;
	font-weight: 600;
	font-family: $font-en;
	text-align: center;
	width: 62px;
	height: 62px;
	border: $color-black 1px solid;
	border-radius: 50%;
	background: $color-mint;
	color: $color-white;
	padding-top: 8px;
}

.levelNum {
	font-size: 30px;
}
