@import '../settings.scss';
@import '../mxin.scss';

.shops {
	width: 100px;
}

.shop {
	width: 100px;
	height: 120px;
	padding: 10px 0;
	position: relative;

	&.selectedShop::before {
		content: '';
		position: absolute;
		top: 40px;
		right: 95px;
		display: block;
    height: 50px;
    width: 37px;
		clip-path: polygon(50% 50%, 0 0, 0 100%);
		background-color: $color-black;
	}
}

@mixin shopBtnActive {
	width: 100px;
	height: 100px;
	margin: 0;
}

@mixin shopBtn {
	@include shopBtnActive;

	&:hover {
		cursor: pointer;
		width: 106px;
		height: 106px;
		margin: -3px;
	}
	&:active {
		@include shopBtnActive;
	}
}

@each $shop in $shops {
	.#{$shop} {
		background: url('~/public/images/shops/#{$shop}.webp') no-repeat center/contain;
		@include shopBtn;
	}
}
