@import '../settings.scss';

.nav {
	position: relative;
	z-index: 2;

	&::before {
		position: absolute;
		content: '';
		top: 96px;
		left: 28px;
		width: 50px;
		height: 37px;
		clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
		background: $color-black;
		z-index: 1;
	}
}

.house {
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
	background: url('~/public/images/house.webp') no-repeat center/contain;

	&:hover {
		cursor: pointer;
		width: 106px;
		height: 106px;
		margin: -3px;
	}
	&:active {
		width: 100px;
		height: 100px;
		margin: 0;
	}
}

@mixin balloon {
	position: absolute;
	top: 130px;
	left: -5px;
	border: $color-black 3px solid;
	border-radius: 8px;
	background: $color-white;
	padding: 5px;
	width: 110px;
	height: 580px;
	transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
	overflow: scroll;
}

.balloon {
	@include balloon;
}

.balloonLarge {
	@include balloon;
	width: 92vw;;
	max-width: 1000px;
}

.balloonSmall {
	@include balloon;
	height: 100px;
}

.items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	padding: 5px 0;
}

.radio {
	display: none;
	width: 0;
	height: 0;
	margin:0;
}

@mixin active {
	width: 81px;
	height: 81px;
	margin: -3px;
}

@mixin item {
	display: block;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	padding-top: 57px;
	font-family: $font-en;
	font-weight: 600;
	font-size: 12px;

	&:hover {
		@include active;
		padding-top: 60px;
		cursor: pointer;
	}
}

@each $item in $items {
	.#{$item} {
		@include item;
		background: url('~/public/images/items/#{$item}.webp') no-repeat center/cover;
	}

	input:disabled + .#{$item} {
		opacity: 0.5;
		border: none;
		margin: 0;
		width: 75px;
		height: 75px;
		padding-top: 57px;
		cursor: not-allowed;
	}

	input:checked + .#{$item} {
		@include active;
		padding-top: 57px;
		border: 3px solid $color-black;
	}
}

.secret {
	@include item;
	background: url('~/public/images/items/secret.webp') no-repeat center/cover;
}