$font-ja: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
$font-en: 'Helvetica','Arial',sans-serif;

$color-white: #F4F2E9;
$color-black: #333;

$color-lime: #DDE070;
$color-tea: #B4CE49;
$color-mint: #72DDA2;
$color-cobalt: #6D71AA;
$color-terracotta: #CC5700;
$color-mustard: #E2A100;
