$font-ja: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
$font-en: 'Helvetica','Arial',sans-serif;

$color-white: #F4F2E9;
$color-black: #333;

$color-lime: #DDE070;
$color-tea: #B4CE49;
$color-mint: #72DDA2;
$color-cobalt: #6D71AA;
$color-terracotta: #CC5700;
$color-mustard: #E2A100;

$items: (
	'hand',
	'hoe',
	'sickle',
	'wheat',
	'poultry',
	'cow',
	'flour',
	'milk',
	'egg',
	'chicken',
	'beaf',
);

$fields: (
	'grass',
	'wheat',
	'poultry',
	'cow'
);

$fieldItems: (
	plowed: ( 'hoe', 'wheat' ),
	green: ( 'hoe', 'poultry', 'cow' ),
	grass1: ( 'sickle' ),
	grass2: ( 'sickle' ),
	grass3: ( 'sickle' ),
	wheat1: ( 'sickle' ),
	wheat2: ( 'sickle' ),
	wheat3: ( 'sickle' ),
	poultry1: ( 'hand', 'sickle' ),
	poultry2: ( 'hand', 'sickle' ),
	poultry3: ( 'hand', 'sickle' ),
	cow1: ( 'hand', 'sickle'),
	cow2: ( 'hand', 'sickle'),
	cow3: ( 'hand', 'sickle'),
);