$font-ja: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
$font-en: 'Helvetica','Arial',sans-serif;

$color-white: #F4F2E9;
$color-gray: #AAA8A0;
$color-black: #333;

$color-lime: #DDE070;
$color-tea: #B4CE49;
$color-mint: #75C697;
$color-cobalt: #6D71AA;
$color-terracotta: #CC5700;
$color-mustard: #E2A100;
$color-ocher: #AA8E50;

:export {
	color-white: $color-white;
	color-black: $color-black;

	color-lime: $color-lime;
	color-tea: $color-tea;
	color-mint: $color-mint;
	color-cobalt: $color-cobalt;
	color-terracotta: $color-terracotta;
	color-mustard: $color-mustard;
}

$items: (
	'secret',
	'hand',
	'hoe',
	'sickle',
	'wheat',
	'sugarcane',
	'seedPotato',
	'carrotSeed',
	'tomatoSeed',
	'poultry',
	'cow',
	'pig',
	'flour',
	'sugar',
	'carrot',
	'potato',
	'tomato',
	'milk',
	'egg',
	'chicken',
	'beaf',
	'pork',
	'bread',
	'pancake',
	'roastChicken',
	'cheese',
	'butter',
	'steak',
	'cookie',
	'cupcake',
	'pudding',
	'carrotJuice',
	'frenchFries',
	'stew',
	'pasta',
	'pizza',
	'omelette',
	'ham',
	'hotdog',
	'baconEgg'
);

$logTypes: (
	GET: $color-terracotta,
	NEW: $color-tea,
	USE: $color-mint,
);

$shops: (
	'clock',
	'museum',
	'restaurant',
	'grocer',
);

$achievements: (
	'trophy',
	'money',
	'time',
	'farm',
	'cook',
	'sell',
	'buy',
	'income',
	'expense',
);

$achievementGrades: (
	'tea',
	'mint',
	'lime',
	'mustard',
);