@import './settings.scss';

body {
	font-family: $font-ja;
	color: $color-black;
	background: url('~/public/images/bg.webp') repeat 390px/390px;
}

main {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 25px 10px;
	min-width: 1200px;
	min-height: 780px;
}